<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <aside class="static-bar">
            <h1>Perkles</h1>
            <img src="/assets/images/perkles.jpg" class="img" alt="Perkles">
            <hr class="separator_one">
            <div class="buttons">
                <button type="button" class="nav-btn">Blog</button>
                <button type="button" class="nav-btn">Portfolio</button>
                <button type="button" class="nav-btn">About</button>
            </div>
        </aside>

        <article class="feed">

            <div class="article">
                <a class="link_post_title" href="#">
                    <h3>
                    Here comes a serious title with all the content and stuff
                    that will be placed right here
                    </h3>
                </a>
                <div class="date_time">
                    2017, Sep 12   —  4 minute read
                </div>
            </div>

            <div class="article">
                <a class="link_post_title" href="#">
                    <h3>
                    Small title
                    </h3>
                </a>
                <div class="date_time">
                    2017, Sep 12   —  4 minute read
                </div>
            </div>

            <div class="article">
                <a class="link_post_title" href="#">
                    <h3>
                    This is a medium size post title
                    </h3>
                </a>
                <div class="date_time">
                    2017, Sep 12   —  4 minute read
                </div>
            </div>

            <div class="article">
                <a class="link_post_title" href="#">
                    <h3>
                    Here comes a serious title with all the content and stuff
                    that will be placed right here Here comes a serious title with all the content and stuff
                    that will be placed right here
                    </h3>
                </a>
                <div class="date_time">
                    2017, Sep 12   —  4 minute read
                </div>
            </div>

            <div class="article">
                <a class="link_post_title" href="#">
                    <h3>
                    Here comes a serious title with all the content and stuff
                    that will be placed right here Here comes a serious title with all the content and stuff
                    that will be placed right here Here comes a serious title with all the content and stuff
                    that will be placed right here
                    </h3>
                </a>
                <div class="date_time">
                    2017, Sep 12   —  4 minute read
                </div>
            </div>

        </article>

        <footer class="footer">
            <p>All right reserved @otavioperkles</p>
            <i class="fab fa-github-square icon"><a href="/js/"></a></i>
            <i class="fab fa-twitter-square icon"><a href="/css/"></a></i>
        </footer>

    </body>
</html>
